/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    background-color:  #f1e4c1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.wrap {
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.img_b1{
width: 50%;
}

.img_b1 img{
    width: 112%;
    position: relative;
    z-index: 1;
}
/* .brown{
    color: #5e3624;
}
.up{
    text-transform: uppercase;
    
}
.size{
    font-size: 7em;
} */

.txt_b_h{
    color: #5e3624;
    text-transform: uppercase;
    font-size: 7em;
    font-family: Arial Black;
    margin: 0%;
}
.txt_b1{
    margin-top: 112px;
    width: 50%;
}
.font_c{
    font-family: Calibri;

}
.title_1{
    font-size: 1.8em;
    font-weight: 600;

}
.title_2{
    color: #f56708;
    font-size: 1.9em;
    line-height: 1.5em;
    text-shadow: 2px 2px 5px #000
    }
.font_a{
    font-family: Arial Black;
}
.title_3{
    font-size: 1.8em;
    line-height: 1.5em;

}
.z0{
    position: relative;
    z-index: 0;
}
.z1{
    position: relative;
    z-index: 1;
}
.b1{
    position: relative;

}
#circle{
    z-index: -1;
    position: absolute;
    width: 22%;
    right: 77px;
    top: 19px;
}